---
http_interactions:
- request:
    method: get
    uri: https://alpha-api.app.net/stream/0/posts/stream/global
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '49'
      X-Adn-Migrations-Enabled:
      - ''
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Reset:
      - '60'
    body:
      encoding: UTF-8
      string: '{"meta":{"min_id":"6811970","code":200,"max_id":"6811990","more":true},"data":[{"created_at":"2013-06-16T14:34:34Z","num_stars":0,"num_replies":0,"source":{"link":"http://riposteapp.net","name":"Riposte","client_id":"737a54nLCdLLutcs2VzhtNKGnnMrakc4"},"text":"Instacast
        is awesome. ","num_reposts":0,"id":"6811990","entities":{"mentions":[],"hashtags":[],"links":[]},"html":"<span
        itemscope=\"https://app.net/schemas/Post\">Instacast is awesome. </span>","machine_only":false,"user":{"username":"arthurlockman","avatar_image":{"url":"https://d2rfichhc2fb9n.cloudfront.net/image/5/-4l0TrgYuGGXtGstDZX2HGRAjs57InMiOiJzMyIsImIiOiJhZG4tdXNlci1hc3NldHMiLCJrIjoiYXNzZXRzL3VzZXIvNzUvYjEvMzAvNzViMTMwMDAwMDAwMDAwMC5qcGciLCJvIjoiIn0","width":200,"is_default":false,"height":200},"description":{"text":"iOS,
        FIRST, Robots, Programming, Music. \r\nI make apps at @vivace. \r\nWPI Class
        of 2017. \r\n\r\nThink Different.","html":"<span itemscope=\"https://app.net/schemas/Post\">iOS,
        FIRST, Robots, Programming, Music. \r<br>I make apps at <span itemprop=\"mention\"
        data-mention-id=\"42534\" data-mention-name=\"vivace\">@vivace</span>. \r<br>WPI
        Class of 2017. \r<br>\r<br>Think Different.</span>","entities":{"mentions":[{"name":"vivace","pos":57,"len":7,"id":"42534"}],"hashtags":[],"links":[]}},"locale":"en_US","created_at":"2012-10-03T18:30:29Z","canonical_url":"https://alpha.app.net/arthurlockman","verified_domain":"a.rthr.me","cover_image":{"url":"https://d2rfichhc2fb9n.cloudfront.net/image/5/1W24kDqkr1Bli4zLoiVt76qRkpd7InMiOiJzMyIsImIiOiJhZG4tdXNlci1hc3NldHMiLCJrIjoiYXNzZXRzL3VzZXIvNDMvMWQvMzAvNDMxZDMwMDAwMDAwMDAwMC5qcGciLCJvIjoiIn0","width":3264,"is_default":false,"height":2448},"timezone":"America/New_York","counts":{"following":185,"posts":684,"followers":57,"stars":25},"type":"human","id":"21094","name":"Arthur
        Lockman"},"thread_id":"6811990","canonical_url":"https://alpha.app.net/arthurlockman/post/6811990"},{"created_at":"2013-06-16T14:34:30Z","num_stars":0,"num_replies":0,"source":{"link":"http://kiwi-app.net/","name":"Kiwi","client_id":"ks4empDNRbXEAauk8BhLTdSvfEeAABvX"},"text":"Re:
        Sexy Booth Babes auf Spielemessen http://superlevel.de/spielkram/e3-2013-babes-und-die-spielepresse-eine-momentaufnahm/
        (mit Klickstrecke)","num_reposts":0,"id":"6811989","entities":{"mentions":[],"hashtags":[],"links":[{"url[...]
