---
http_interactions:
- request:
    method: get
    uri: https://alpha-api.app.net/stream/0/posts/stream/global
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '46'
      X-Adn-Migrations-Enabled:
      - ''
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Reset:
      - '7'
    body:
      encoding: UTF-8
      string: '{"meta":{"min_id":"6811759","code":200,"max_id":"6811778","more":true},"data":[{"created_at":"2013-06-16T14:22:22Z","num_stars":0,"num_replies":0,"source":{"link":"http://riposteapp.net","name":"Riposte","client_id":"737a54nLCdLLutcs2VzhtNKGnnMrakc4"},"text":"@hekau
        oh. \n @tellingtales","num_reposts":0,"canonical_url":"https://alpha.app.net/jol/post/6811778","entities":{"mentions":[{"name":"hekau","pos":0,"len":6,"id":"44829"},{"name":"tellingtales","pos":13,"len":13,"id":"19414"}],"hashtags":[],"links":[]},"html":"<span
        itemscope=\"https://app.net/schemas/Post\"><span itemprop=\"mention\" data-mention-id=\"44829\"
        data-mention-name=\"hekau\">@hekau</span> oh. <br> <span itemprop=\"mention\"
        data-mention-id=\"19414\" data-mention-name=\"tellingtales\">@tellingtales</span></span>","machine_only":false,"user":{"username":"jol","avatar_image":{"url":"https://d2rfichhc2fb9n.cloudfront.net/image/5/DcvmjmfHXckoLwXXWxHXtK0scsV7InMiOiJzMyIsImIiOiJhZG4tdXNlci1hc3NldHMiLCJrIjoiYXNzZXRzL3VzZXIvYTUvMjkvNDAvYTUyOTQwMDAwMDAwMDAwMC5wbmciLCJvIjoiIn0","width":200,"is_default":false,"height":200},"description":{"text":"Skateboards,
        art, music, photography, MCFC, children and other stuff. I may ramble a bit.
        \r\n\r\nblog [http://d.pr/ibEY]\r\ntwitter [http://d.pr/A23i]\r\ninstagram
        [http://d.pr/FBDP]\r\n\r\n\r\n","html":"<span itemscope=\"https://app.net/schemas/Post\">Skateboards,
        art, music, photography, MCFC, children and other stuff. I may ramble a bit.
        \r<br>\r<br>blog [<a href=\"http://d.pr/ibEY\">http://d.pr/ibEY</a>]\r<br>twitter
        [<a href=\"http://d.pr/A23i\">http://d.pr/A23i</a>]\r<br>instagram [<a href=\"http://d.pr/FBDP\">http://d.pr/FBDP</a>]\r<br>\r<br>\r<br></span>","entities":{"mentions":[],"hashtags":[],"links":[{"url":"http://d.pr/ibEY","text":"http://d.pr/ibEY","pos":100,"len":16},{"url":"http://d.pr/A23i","text":"http://d.pr/A23i","pos":128,"len":16},{"url":"http://d.pr/FBDP","text":"http://d.pr/FBDP","pos":158,"len":16}]}},"locale":"en_US","created_at":"2012-10-03T17:21:16Z","canonical_url":"https://alpha.app.net/jol","verified_domain":"jamesmakeswords.com","cover_image":{"url":"https://d2rfichhc2fb9n.cloudfront.net/image/5/ZKXEiMoDAB8jcUL4ls2Nsp6W9AB7InMiOiJzMyIsImIiOiJhZG4tdXNlci1hc3NldHMiLCJrIjoiYXNzZXRzL3VzZXIvNjMvNzAvNDAvNjM3MDQwMDAwMDAwMDAwMC5qcGciLCJvIjoiIn0","width":1920,"is_default":false,"height":600},"timezone":"America/New_York","counts":{"following":191,"posts":4042,"followers":140,"stars":36},"type":"human","id":"20855","name":"James
        Langston"},"reply_to":"6811744","thread_id":"6810755","id":"6811778"},{"created_at":"2013-06-16T14:22:18Z","num_stars":0,"num_replies":0,"source":{"link":"http://ifttt.com","name":"IFTTT","client_id":"GzJVygE6vpLbabgBtEKzEKH8ASzS6mF3"},"text":"\"Microsoft:
        PS4 won''t make us change \"anything\" with Xbox One\" http://bit.ly/13LmRkz
        When things go wrong, double down.","num_reposts":0,"id":"6811777","entities":{"mentions":[],"hashtags":[],"links":[{"url":"http://bit.ly/13LmRkz","text":"http://bit.ly/13LmRkz","pos":63,"len":2[...]
